<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespache是绑定一个对应的dao或者mapper接口-->
<mapper namespace="com.me7eorite.mapper.UserMapper">
    <select id="queryUserById" resultType="com.me7eorite.entity.User">
        select * from expriment.user where stuid=#{stuid}
    </select>
</mapper>